@import "../../scss/variables";

.Authorization{
    
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid $bgborder;
    border-radius: 10px;

    img{
        margin: 30px auto;
    }

    h1{
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .iconInput{
        display: flex;
        align-items: center;
        
        svg{
            color:$bgborder;
        }

        input{
            margin: 6px 0 6px 10px;;
            padding: 10px;
            border: 1px solid $bgborder;
            border-radius: 5px;
            font-size: 14px;
            width: 100%;
        }
    }

    form{
        display: flex;
        flex-direction: column;
    }

    
    button{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid $bgborder;
        border-radius: 5px;
    }

    .messErr{
        text-align: center;
        font-size: 14px;
        padding: 3px;
        border-radius: 5px;
    }
}