@import "../../scss/variables";

header{
    background: $bgheader;
}
.header{
    text-align: center;
    padding: 20px 0;

    h1{
        color: $white;
        font-size: 30px;
        font-weight: 700;
    }

}