@import "../../scss/variables";

footer{
    background: $bgheader;
    flex: auto;
}
.footer{
    text-align: center;
    padding: 20px 0;
         
    h3{
        color: $white;
        font-size: 16px;
        //font-weight: 400;
    }

}