@charset "UTF-8";


/**
 * Основные стили
 **/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  @include min-max(320px,100%, 0);
  
}

.wrap {
  @include min-max(320px, 1070px, 15px);
}

p {
  color: $black;
}

.bg{
  background: $bgheader;
}

section{
  margin: 15px 0;
  height: 90%;
}
